@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext");
@font-face {
  font-family: "IranYekan";
  font-style: normal;
  font-weight: bold;
  src: url("/Assets/font/eot/iranyekanwebbold(fanum).eot") format("embedded-opentype"), url("/Assets/font/woff2/iranyekanwebbold(fanum).woff2") format("woff2"), url("/Assets/font/woff/iranyekanwebbold(fanum).woff") format("woff"), url("/Assets/font/ttf/iranyekanwebbold(fanum).ttf") format("truetype");
}
@font-face {
  font-family: "IranYekan";
  font-style: normal;
  font-weight: 500;
  src: url("/Assets/font/eot/iranyekanwebregular(fanum).eot") format("embedded-opentype"), url("/Assets/font/woff2/iranyekanwebregular(fanum).woff2") format("woff2"), url("/Assets/font/woff/iranyekanwebregular(fanum).woff") format("woff"), url("/Assets/font/ttf/iranyekanwebregular(fanum).ttf") format("truetype");
}
@font-face {
  font-family: "IranYekan";
  font-style: normal;
  font-weight: normal;
  src: url("/Assets/font/eot/iranyekanweblight(fanum).eot") format("embedded-opentype"), url("/Assets/font/woff2/iranyekanweblight(fanum).woff2") format("woff2"), url("/Assets/font/woff/iranyekanweblight(fanum).woff") format("woff"), url("/Assets/font/ttf/iranyekanweblight(fanum).ttf") format("truetype");
}
* {
  font-family: "IranYekan";
  box-sizing: border-box;
} 
html {
  overflow-x: hidden !important;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #1a202a;
  height: 100%;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  overflow-y: hidden;
  touch-action: none;
  overscroll-behavior-y: contain;
}

h1 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  text-align: center;
}

p {
  font-weight: 100;
  font-size: calc(1em + 0.5vw);
  text-align: justify;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.5s;
}

a:hover {
  opacity: 0.85;
}

section,
.section {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  transform: translate(0, 0);
  transition: transform 0.4s ease-out;
  margin: 0;
  padding: 0;
}

.page {
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  transform: translate(0, 0);
  transition: transform 0.4s ease-out;
}

.sectionButtonContainer {
  position: fixed;
  display: inline-flex;
  flex-direction: column;
  top: 50%;
  left: 4%;
  color: rgb(30, 30, 30);
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  direction: initial;
}

.sectionButtonContainer label,
.page_selection label {
  display: inline-flex;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.39);
  transition: transform 0.2s;
  margin: 12px 12px;
  padding: 0px;
  box-shadow: 0px 0px 1px 1.5px rgba(206, 206, 208, 0.24);
  cursor: pointer;
}

.sectionButtonContainer label::after,
.page_selection label::after {
  content: "";
  display: inline-flex;
  position: relative;
  top: -10px;
  left: -10px;
  padding: 12px;
}

.sectionButtonContainer input[type=radio]:checked + label::after,
.page_selection input[type=radio]:checked + label::after {
  display: none;
}

.sectionButtonContainer input[type=radio]:checked + label,
.page_selection input[type=radio]:checked + label {
  transform: scale(2.2);
  transition: transform 0.2s;
}

.page_selection {
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: 2vh;
  left: 40%;
  color: rgb(30, 30, 30);
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  z-index: 999999;
}

.navbar {
  box-shadow: none;
  min-width: 400px;
  position: fixed;
  width: 100%;
  padding: 0 5%;
  z-index: 99;
}
.navbar form {
  padding-left: 10px;
}
.navbar .navbar-nav {
  margin-top: 8px;
}
.navbar .btn-menu {
  background: none;
  border: none;
}
.navbar .menu-icon {
  right: 5%;
  position: absolute;
}
.navbar .nav-link {
  color: #a7acb2;
  font-size: 0.9rem;
}
.navbar .active {
  color: #528fd0 !important;
}
.navbar .nav-link:hover {
  color: #528fd0;
}

.offcanvas-top {
  background-color: #1a202a;
  height: auto !important;
  background-image: url(/Assets/images/svg-menu-bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 100% 0%;
  background-size: 74%;
}
.offcanvas-top .btn-close {
  position: absolute;
  top: 12%;
  right: 6%;
}
.offcanvas-top .logo-top-menu {
  position: absolute;
  left: 5%;
}
.offcanvas-top .offcanvas-body {
  height: 100vh;
}
.offcanvas-top .offcanvas-body .menu-itmes {
  text-decoration: none;
  list-style: none;
  position: relative;
  right: 17%;
  top: 170px;
  width: 70%;
}
.offcanvas-top .offcanvas-body .menu-itmes .triangle-left {
  width: 0px !important;
  height: 0 !important;
  border-top: 5px solid transparent;
  border-right: 7px solid #354c6d;
  border-bottom: 5px solid transparent;
  display: inline-block;
}
.offcanvas-top .offcanvas-body .menu-itmes .menu-itme {
  padding-bottom: 13px;
}
.offcanvas-top .offcanvas-body .menu-itmes .menu-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
}

.section01 {
  padding: 0 5%;
}
.section01 .paraf-box {
  position: relative;
  bottom: 43px;
}
@media only screen and (max-width: 900px) {
  .section01 .paraf-box {
    bottom: -60px;
    padding: 0 30px;
  }
}
.section01 .paraf-box .paraf {
  padding: 10px;
  text-align: justify;
  font-size: 0.8rem;
  color: #a7acb2;
}
.section01 .paraf-box .btn-council {
  border: 1px solid rgb(0, 183, 255);
  font-size: 0.9rem;
  padding: 4px 20px 7px 20px;
  border-radius: 10px;
  color: #a7acb2;
  position: relative;
  left: -70%;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.8901960784), inset 2px 3px 2px 1px rgba(0, 0, 0, 0.8117647059);
}
@media only screen and (max-width: 900px) {
  .section01 .paraf-box .btn-council {
    left: -50%;
  }
}
.section01 .paraf-box .arrow-forward {
  width: 24px;
}
.section01 .svgbox {
  display: inline-block !important;
  position: absolute;
  left: 30%;
  top: 15%;
}
.section01 .six-line-container {
  display: inline-block;
  position: relative;
  top: 120%;
  right: 14%;
}
.section01 .six-line-container .six-text-box {
  display: inline-block;
  text-align: center;
  padding-top: 10px;
}
.section01 .six-line-container .six-text-box h3 {
  color: #a7acb2;
}
.section01 .six-line-container .six-text-box h5 {
  color: #a7acb2;
}
.section01 .six-line-container .six-line-box {
  display: inline-block;
}
.section01 .Services-first {
  position: relative;
  width: 60%;
  top: 15%;
  right: 15%;
}
@media only screen and (max-width: 900px) {
  .section01 .Services-first {
    width: 90%;
    top: -45%;
    right: 8%;
  }
}

@media only screen and (max-width: 900px) {
  .section02 {
    padding-left: 25px;
  }
}
.section02 .features-img {
  width: 45%;
  position: absolute;
  top: 0;
  right: 9%;
}
.section02 .features-item {
  padding: 20px;
  text-align: left;
  transition: all 0.5s;
}
.section02 .features-item img {
  width: 40px;
  margin-bottom: 10px;
}
.section02 .features-item h5 {
  color: #528fd0;
  font-weight: 300;
}
.section02 .features-item h6 {
  color: #a7acb2;
  font-size: 0.9rem;
}
.section02 .features-item:hover {
  border-radius: 30px;
  padding: 20px;
  text-align: left;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2196078431);
}

@media only screen and (max-width: 900px) {
  .section03 {
    height: 85%;
    padding: 0 0 0 3%;
  }
}
.section03 .services-img {
  width: 50%;
  position: absolute;
  bottom: 0px;
  left: 0%;
}
@media only screen and (max-width: 900px) {
  .section03 .services-img {
    width: 90%;
  }
}
.section03 .six-line-box {
  padding: 0;
  text-align: end;
}
.section03 .six-line-box .six-line {
  width: 80px;
}
.section03 h5 {
  color: #a7acb2;
  margin-top: 15px;
  font-weight: 300;
}
.section03 h6 {
  color: #465262;
}
.section03 p {
  color: #a7acb2;
  font-size: 0.9rem;
  text-align: justify;
  width: 80%;
}
.section03 .btn-council {
  border: 1px solid rgb(0, 183, 255);
  font-size: 0.9rem;
  padding: 4px 20px 7px 20px;
  border-radius: 10px;
  color: #a7acb2;
  margin: 5px;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.8901960784), inset 2px 3px 2px 1px rgba(0, 0, 0, 0.8117647059);
}
.page-sample {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.section04 .slick-prev {
  opacity: 0;
}
.section04 .slick-next {
  opacity: 0 !important;
}
.section04 .slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 0px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.section04 .slick-dots li {
  position: relative;
  top: 50px;
  display: inline-block;
  height: 3px;
  width: 30px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
  border-radius: 100px;
  background-color: #696f6f;
}
.section04 .slick-dots .slick-active {
  position: relative;
  top: 50px;
  display: inline-block;
  height: 3px;
  width: 30px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
  background-color: aqua;
  border-radius: 100px;
  box-shadow: 0px 0px 4px 2px rgba(206, 206, 208, 0.24);
}
.section04 .sampel-img-top {
  position: absolute;
  top: 0;
  right: 30%;
  width: 30%;
}
@media only screen and (max-width: 900px) {
  .section04 .sampel-img-top {
    right: 0%;
    width: 90%;
  }
}
.section04 .sampel-img-row {
  margin: 50px;
  position: relative;
  top: 60px;
}
@media only screen and (max-width: 900px) {
  .section04 .sampel-img-row {
    width: 300px;
    height: 200px;
    margin: auto;
    margin-right: -9%;
  }
}
.section04 .sampel-img-row .sampel-img-shell {
  text-align: center;
}
@media only screen and (max-width: 900px) {
  .section04 .sampel-img-row .sampel-img-shell {
    width: 300px;
    height: 200px;
  }
}
.section04 .sampel-img-row .sampel-img-shell .sampel-img {
  width: 90%;
  padding: 7px;
  border: 1px solid #a9a9a9;
  border-radius: 45px;
  overflow: hidden;
}
.section04 .sampel-img-row .sampel-img-shell .sampel-img-cap {
  color: #a7acb2;
  font-size: 0.9rem;
}
.section04 .sampel-more-text {
  width: 200px;
  margin: auto;
  margin-left: 0;
  position: relative;
  top: 60px;
}
@media only screen and (max-width: 900px) {
  .section04 .sampel-more-text {
    top: 160px;
  }
}
.section04 .sampel-more-text a {
  font-size: 12px;
  color: #a7acb2;
}
.section04 .sampel-more-text a img {
  width: 50px;
}

.section05 .weblog-img {
  left: 50%;
  width: 50%;
  position: absolute;
  top: 0;
}
.section05 .weblog-card {
  padding: 10px 30px;
}
.section05 .weblog-card .weblog-card-img {
  border: 1px solid #a7acb2;
  border-radius: 30px;
  padding: 3px;
  overflow: hidden;
  width: 150px;
  margin: 5px 0;
}
.section05 .weblog-card h6 {
  color: #528fd0 !important;
  font-size: 0.9rem;
  margin: 5px;
}
.section05 .weblog-card p {
  font-size: 0.9rem;
  color: #a7acb2;
  text-align: justify;
  margin: 5px;
}
.section05 .ready-more {
  width: 200px;
  margin: auto;
  margin-left: 0;
  position: relative;
  top: 0px;
}
.section05 .ready-more a {
  color: #a7acb2;
  font-size: 12px;
}
.section05 .ready-more a img {
  width: 50px;
}

.section06 .customers-shell {
  padding: 0 23px 0 150px;
}
@media only screen and (max-width: 900px) {
  .section06 .customers-shell {
    padding: 0 25px 0 50px;
  }
}
@media only screen and (max-width: 900px) {
  .section06 .customers-shell .customers-row {
    padding-right: 25px;
  }
}
.section06 .customers-shell .title-shell {
  position: relative;
  left: 20px;
  margin-bottom: 20px;
}
.section06 .customers-shell .title-shell .six-line-box {
  padding: 0;
  text-align: end;
}
.section06 .customers-shell .title-shell .six-line-box .six-line {
  width: 80px;
}
.section06 .customers-shell .title-shell h5 {
  color: #a7acb2;
  margin-top: 15px;
  font-weight: 300;
}
.section06 .customers-shell .title-shell h6 {
  color: #465262;
}
.section06 .customers-logo {
  border: 1px solid #a7acb2;
  border-radius: 20px;
  padding: 13px 20px;
  width: 100px;
  height: 47px;
  margin: 5px;
}
.section06 .customers-img {
  position: absolute;
  width: 50%;
  bottom: 0;
  left: 0;
}

.section07 .contact-us-shell {
  position: relative;
  top: 40px;
  padding: 30px;
}
.section07 .contact-us-shell p {
  text-align: justify;
  color: #a7acb2;
  font-size: 0.9rem;
}
.section07 .contact-us-shell .phone-num-shell .phone-num {
  color: #528fd0;
  font-size: 35px;
  display: inline-block;
}
.section07 .contact-us-shell .phone-num-shell .phone-num-line {
  height: 25px;
  width: 1px;
  margin: 0 16px;
  border: 1px solid #a7acb2;
  display: inline-block;
}
.section07 .ps-footer {
  position: absolute;
  left: 10%;
  bottom: 10%;
}
.section07 .ps-footer .ps-link {
  color: #a7acb2;
  font-size: 9px;
}
.section07 .ps-footer .ps-line {
  height: 10px;
  display: inline-block;
  border: 1px solid #a7acb2;
  margin: 0 5px;
}
.section07 .ps-footer p {
  color: #a7acb2;
  font-size: 9px;
}
.section07 .contact-us-img {
  position: absolute;
  right: 12%;
  top: 20%;
  width: 40%;
}

.section08 {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 600px;
}
.section08 .seo-img-shell .seo-img {
  position: absolute;
  width: 34%;
  top: 30%;
  right: 6%;
}
.section08 .seo-img-shell .title-shell {
  color: #a7acb2;
  position: absolute;
  top: 38%;
  right: 37%;
}
.section08 .seo-img-shell .title-shell .title-text-shell {
  font-size: 2rem;
  padding-right: 2%;
  margin-top: 10%;
  text-align: center;
}
.section08 .seo-img-shell .title-shell .title-text-shell h1 {
  margin-bottom: 5px;
}
.section08 .seo-img-shell .title-shell .title-text-shell-web {
  padding-right: 10%;
}
.section08 .website-img {
  width: 40%;
  position: absolute;
  top: 20%;
  right: 10%;
}
@media only screen and (max-width: 900px) {
  .section08 .website-img {
    width: 80%;
  }
}
.section08 .website-paraf {
  font-size: 0.9rem;
  color: #a7acb2;
  position: absolute;
  top: 60%;
  left: 15%;
  width: 33%;
}
@media only screen and (max-width: 900px) {
  .section08 .website-paraf {
    font-size: 14px;
    color: #8791a4;
    position: absolute;
    top: 61%;
    left: 22%;
    width: 55%;
  }
}

.section09 {
  background-color: #e5e6e8;
  width: 100%;
  height: 900px;
}
@media only screen and (max-width: 900px) {
  .section09 {
    height: 940px;
  }
}
.section09 .consulting-img {
  position: absolute;
  width: 35%;
  top: 0%;
  left: 0;
}
@media only screen and (max-width: 900px) {
  .section09 .consulting-img {
    width: 50%;
  }
}
.section09 .seo-img-shell .seo-img {
  position: absolute;
  width: 40%;
  top: 8%;
  left: -8%;
}
.section09 .seo-img-shell .title-shell {
  color: #a7acb2;
  position: absolute;
  bottom: 0%;
  left: 21%;
}
.section09 .seo-img-shell .title-shell .title-text-shell {
  font-size: 1.5rem;
  padding-right: 2%;
  margin-top: 10%;
  text-align: center;
}
.section09 .seo-img-shell .title-shell .title-text-shell h2 {
  font-size: 1.7rem;
  color: #212f46;
}
.section09 .seo-img-shell .title-shell .title-text-shell-web {
  padding-right: 10%;
}
@media only screen and (max-width: 900px) {
  .section09 .consulting-paraf-shell {
    margin-top: 250px;
  }
}
.section09 .consulting-paraf {
  font-size: 0.9rem;
  color: #1a202a;
  text-align: justify;
  font-weight: 500;
  padding: 10px 35px;
}

.section-seo-09 .seo-img-shell .seo-img {
  position: absolute;
  width: 40%;
  top: 8%;
  right: 0%;
}
.section-seo-09 .seo-img-shell .title-shell {
  color: #a7acb2;
  position: absolute;
  right: 32%;
  top: 10%;
  width: 30%;
}
.section-seo-09 .seo-img-shell .title-shell .title-text-shell {
  font-size: 1.5rem;
  padding-right: 2%;
  margin-top: 10%;
  text-align: center;
}
.section-seo-09 .seo-img-shell .title-shell .title-text-shell h2 {
  font-size: 1.7rem;
}
.section-seo-09 .seo-img-shell .title-shell .title-text-shell-web {
  padding-right: 10%;
}
.section-seo-09 .consulting-paraf-shell {
  position: relative;
  top: 200px;
}
.section-seo-09 .consulting-paraf-shell-mob {
  position: relative;
  top: 300px;
}

.seo-hat-section09 .title-shell {
  color: #a7acb2;
  position: absolute;
  top: 5% !important;
  left: 23% !important;
  width: 40%;
}
.seo-hat-section09 .title-text-shell {
  margin-top: 5% !important;
}
.seo-hat-section09 .consulting-paraf-shell {
  position: relative;
  top: 200px;
}

.section10 {
  background-color: #e5e6e8;
  width: 100%;
  height: 900px;
}
@media only screen and (max-width: 900px) {
  .section10 {
    height: 970px;
  }
}
.section10 .attributes-img {
  position: absolute;
  width: 50%;
  right: 0;
  top: 0;
}
@media only screen and (max-width: 900px) {
  .section10 .attributes-img {
    width: 80%;
  }
}
.section10 .features-shell {
  position: relative;
  top: 100px;
}
@media only screen and (max-width: 900px) {
  .section10 .features-shell {
    top: 250px;
  }
}
.section10 .features-shell .features-item {
  padding: 20px;
  text-align: left;
}
.section10 .features-shell .features-item img {
  width: 40px;
  margin-bottom: 10px;
}
.section10 .features-shell .features-item h5 {
  color: #528fd0;
  font-weight: 300;
}
.section10 .features-shell .features-item h6 {
  color: #a7acb2;
  font-size: 0.9rem;
}

.section11 {
  background-color: #e5e6e8;
  height: 900px;
  width: 100%;
}
@media only screen and (max-width: 900px) {
  .section11 {
    position: relative;
    top: -180px;
    height: 1100px;
  }
}
.section11 .seo-img-shell .seo-img {
  position: relative;
  width: 80%;
  top: 0%;
  right: -6%;
}
.section11 .seo-img-shell .title-shell {
  color: #a7acb2;
  position: relative;
  top: 38%;
  right: 37%;
}
.section11 .seo-img-shell .title-shell .title-text-shell {
  font-size: 2rem;
  text-align: center;
}
.section11 .price-img {
  position: absolute;
  width: 38%;
}
@media only screen and (max-width: 900px) {
  .section11 .price-img {
    width: 100%;
    bottom: 10%;
  }
}
.section11 .price-paraf {
  font-size: 0.9rem;
  color: #1a202a;
  text-align: justify;
  font-weight: 500;
  padding: 10px 35px;
  position: relative;
  top: 200px;
}

.section12 {
  padding: 100px 30px;
  background-color: #e5e6e8;
  height: 60vh !important;
  width: 100%;
  z-index: 2 !important;
}
@media only screen and (max-width: 900px) {
  .section12 {
    height: 112vh !important;
  }
}
.section12 .tecno-paraf-w100 {
  padding: 7px 30px;
  font-size: 0.9rem;
  color: #1a202a;
  text-align: justify;
  font-weight: 500;
}
@media only screen and (max-width: 900px) {
  .section12 .tecno-paraf-w100 {
    padding: 7px 0px;
  }
}

.section-seo-12 {
  height: 100% !important;
}

.section13 {
  background-color: #e5e6e8;
  height: 900px;
  width: 100%;
  z-index: 10 !important;
}
.section13 .grouping-img {
  width: 100%;
  position: relative;
  right: -19%;
  top: 162px;
  z-index: 10;
}
@media only screen and (max-width: 900px) {
  .section13 .grouping-img {
    width: 100%;
    position: relative;
    right: -5%;
    top: -150px;
    z-index: 10;
  }
}
@media only screen and (max-width: 900px) {
  .section13 .grouping-dis-shell {
    position: relative;
    top: 250px;
  }
}
.section13 .grouping-paraf {
  padding: 7px 30px;
  font-size: 0.9rem;
  color: #1a202a;
  text-align: justify;
  font-weight: 500;
  position: relative;
  top: 50px;
}

.section14 {
  background-color: #e5e6e8;
  height: 100%;
  width: 100%;
}
@media only screen and (max-width: 900px) {
  .section14 {
    position: relative;
    top: -20px;
    height: 150vh;
  }
}
.section14 .grouping-dis-title {
  color: #528fd0;
}
@media only screen and (max-width: 900px) {
  .section14 .grouping-dis-title {
    opacity: 0;
  }
}
.section14 .grouping-dis-shell {
  margin-top: 30px;
  padding: 10px 30px;
  background-image: url(/Assets/images/svg-blur.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 80%;
  height: 340px;
}
.section14 .grouping-dis-shell .grouping-dis-title {
  color: #528fd0;
}
.section14 .grouping-dis-shell .grouping-dis-paraf {
  font-size: 0.9rem;
  color: #1a202a;
  text-align: justify;
  font-weight: 500;
}

.seo-hat-section14 .grouping-dis-shell {
  background: none !important;
  height: 200px;
}

.mob-design-14 {
  height: 450px !important;
}

.Services-seo-09 .title-shell {
  width: 30% !important;
}
.Services-seo-09 .title-shell .title-text-shell {
  padding: 0 !important;
}

.section15 {
  background-color: #e5e6e8;
  height: 540px;
  width: 100%;
}
.section15 .svg-wave-up {
  position: relative;
  bottom: 108px;
}
@media only screen and (max-width: 900px) {
  .section15 .mistakes-img {
    position: absolute;
    width: 100%;
  }
}

.section16 {
  background-color: #1a202a;
  height: 1350px;
  width: 100%;
}
@media only screen and (max-width: 900px) {
  .section16 {
    height: 1720px;
  }
}
@media only screen and (max-width: 900px) {
  .section16 .logo-shell-col {
    flex: 0 0 0;
  }
}
.section16 .customers-logo {
  border: 2px solid rgba(135, 145, 164, 0.6);
  border-radius: 15px;
  padding: 13px 20px;
  width: 100px;
  height: 47px;
  margin: 5px;
}
.section16 .svg-wave-up {
  margin-bottom: 20px;
}
.section16 .logo-shell {
  width: -moz-max-content;
  width: max-content;
  margin: auto;
}
@media only screen and (max-width: 900px) {
  .section16 .logo-shell {
    width: 100%;
  }
}
.section16 .Support-img {
  position: relative;
  width: 100%;
  right: -18%;
}
.section16 .Support-paraf-shell {
  padding: 30px 0 0 30px;
}
.section16 .Support-paraf-shell .Support-paraf {
  font-size: 0.9rem;
  color: #a7acb2;
  text-align: justify;
  font-weight: 500;
}
.section16 .Support-paraf-shell .Support-list {
  list-style: none;
  padding: 0;
}
.section16 .Support-paraf-shell .Support-list .Support-item {
  color: #a7acb2;
  font-size: 0.9rem;
  font-weight: 500;
}
.section16 .sampel-img-row {
  margin: 50px;
}
.section16 .sampel-img-row .sampel-img-shell {
  text-align: center;
}
.section16 .sampel-img-row .sampel-img-shell .sampel-img {
  width: 90%;
  padding: 7px;
  border: 1px solid #a9a9a9;
  border-radius: 45px;
  overflow: hidden;
}
.section16 .sampel-img-row .sampel-img-shell .sampel-img-cap {
  color: #a7acb2;
  font-size: 0.9rem;
}
.section16 .card {
  box-shadow: 0 2px 15px -3px rgba(0, 0, 0, 0.23), 0 10px 20px -2px rgba(0, 0, 0, 0.24);
  background: none;
  border: none;
  width: 90%;
  margin: auto;
  margin-top: 10%;
  border-radius: 40px;
  overflow: hidden;
  padding: 10px;
  margin-bottom: 20px;
}
.section16 .card .weblog-card-img {
  width: 100%;
  border-radius: 40px;
  overflow: hidden;
}
.section16 .card .card-body {
  padding: 0;
}
.section16 .card .card-body .card-title {
  font-size: 16px;
  margin: 11px 0;
  color: #a7acb2;
}
.section16 .card .card-body .weblog-date {
  font-size: 14px;
  color: #528fd0;
  padding: 8px;
  font-weight: 600;
}
.section16 .card .card-body .card-text {
  font-size: 16px;
  text-align: justify;
  color: #a7acb2;
}
.section16 .card .card-body .btn-primary {
  box-shadow: none;
  background: none;
  border: none;
  margin-left: 0;
  display: grid;
  justify-content: end;
}
.section16 .card .card-body .btn-primary img {
  width: 60px;
}

.section17 {
  background-color: #e5e6e8;
  height: 1050px;
  width: 100%;
}
@media only screen and (max-width: 900px) {
  .section17 {
    height: 110%;
  }
}
@media only screen and (max-width: 900px) {
  .section17 .questions-img {
    width: 100%;
  }
}
.section17 .similar-content-box {
  position: relative;
  height: 208px;
  top: -175px;
  text-align: start;
  width: 70%;
}
@media only screen and (max-width: 900px) {
  .section17 .similar-content-box {
    top: -120px;
    height: 450px;
    width: 100%;
  }
}
.section17 .similar-content-box .title-shell .six-line {
  width: 140px;
}
.section17 .similar-content-box .title-shell .title-fa {
  font-weight: 700;
  font-size: 20px;
}
.section17 .similar-content-box .similar-item {
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1803921569);
  width: 95%;
}
.section17 .similar-content-box .similar-item .similar-link {
  font-weight: 500;
  font-size: 18px;
}
.section17 .similar-content-box .similar-item .similar-link::before {
  content: "";
  width: 0px !important;
  height: 0 !important;
  border-top: 5px solid transparent;
  border-right: 7px solid #2068cd;
  border-bottom: 5px solid transparent;
  display: inline-block;
  padding-left: 12px;
}
.section17 .accordion {
  margin: 170px auto;
  margin-left: 20px;
  width: 80%;
  --bs-accordion-bg: #ffffff00;
  --bs-accordion-btn-focus-border-color: #86b6fe00;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(13, 109, 253, 0);
}
@media only screen and (max-width: 900px) {
  .section17 .accordion {
    margin: 20px auto;
    margin-left: 20px;
    width: 80%;
  }
}
.section17 .accordion .accordion-body {
  background-color: rgba(255, 255, 255, 0.431372549);
  font-size: 0.9rem;
}
.section17 .accordion .accordion-item {
  border: 2px solid #528fd0;
  margin: 5px;
  border-radius: 10px;
  overflow: hidden;
}
.section17 .accordion .accordion-item .accordion-button::after {
  margin-right: auto;
  margin-left: unset;
}
.section17 .accordion .accordion-item .accordion-button:not(.collapsed) {
  font-size: 13px;
}
.section17 .accordion .accordion-item .accordion-button.collapsed {
  border-radius: 0;
  padding: 10px;
  font-size: 0.9rem;
}

.section18 {
  background-color: #e5e6e8;
  height: 800px;
  width: 100%;
}
@media only screen and (max-width: 900px) {
  .section18 {
    height: 75%;
  }
}
.section18 .col-12 {
  text-align: center;
  display: contents;
}
.section18 .Survey-shell {
  width: 80%;
}
@media only screen and (max-width: 900px) {
  .section18 .Survey-shell {
    width: 100%;
  }
}
.section18 .Survey-shell .container {
  margin: inherit;
}
.section18 .Survey-shell .container .Survey-input-box {
  width: 100%;
  margin: auto;
  margin-left: 0;
}
.section18 .Survey-shell .container .Survey-input-box .row {
  width: 80%;
  margin: auto;
  margin-left: 0;
}
@media only screen and (max-width: 900px) {
  .section18 .Survey-shell .container .Survey-input-box .row {
    width: 100%;
  }
}
.section18 .Survey-shell .container .Survey-input-box .row .lable-Survey {
  font-size: 0.9rem;
  display: block;
  text-align: inherit;
  margin-right: 3%;
  color: gray;
}
.section18 .Survey-shell .container .Survey-input-box .row .col-6 {
  text-align: end;
}
.section18 .Survey-shell .container .Survey-input-box .row .col-6 input {
  width: 95%;
  background: none;
  border-radius: 17px;
  font-size: 12px;
  border: 2px solid rgba(33, 47, 70, 0.5607843137);
  /* width: 75%; */
  padding: 10px 15px;
  margin: 10px;
  font-size: 12px;
  display: inline-block;
  box-shadow: -2px 1px 4px 1px rgba(0, 0, 0, 0.16);
}
.section18 .Survey-shell .container .Survey-input-box .row textarea {
  width: 97%;
  height: 130px;
  background: none;
  border-radius: 20px;
  border: 2px solid rgba(33, 47, 70, 0.5607843137);
  /* width: 75%; */
  padding: 10px 15px;
  margin: 10px;
  font-size: 14px;
  display: inline-block;
  box-shadow: -2px 1px 4px 1px rgba(0, 0, 0, 0.16);
}
.section18 .Survey-shell .container .Survey-input-box .row button {
  background: none;
  border: none;
  margin: auto;
  margin-left: 10px;
}
.section18 .Survey-shell .question-box {
  border-radius: 30px;
  border: 2px solid rgba(33, 47, 70, 0.5607843137);
  width: 75%;
  padding: 18px;
  margin: 10px;
  font-size: 0.9rem;
  display: inline-block;
  box-shadow: -2px 1px 4px 1px rgba(0, 0, 0, 0.16);
}
@media only screen and (max-width: 900px) {
  .section18 .Survey-shell .question-box {
    width: 100%;
  }
}
.section18 .Survey-shell .question-box .question-icon {
  display: inline-block;
  width: 45px;
}
.section18 .Survey-shell .question-box .question-name {
  font-size: 14px;
  font-weight: 500;
  color: #528fd0;
}
.section18 .Survey-shell .question-box .question-date {
  font-size: 10px;
}
.section18 .Survey-shell .question-box .question-text {
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
}
.section18 .Survey-shell .awnser-box {
  font-size: 0.9rem;
  background-color: #212f46;
  color: #a7acb2;
  width: 60%;
  margin: 10px;
  padding: 18px;
  border-radius: 30px;
  box-shadow: -2px 1px 4px 1px rgba(0, 0, 0, 0.4117647059);
}
@media only screen and (max-width: 900px) {
  .section18 .Survey-shell .awnser-box {
    width: 85%;
  }
}
.section18 .Survey-shell .awnser-box .question-icon {
  display: inline-block;
  width: 45px;
}
.section18 .Survey-shell .awnser-box .triangle-up {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 12px solid #212f46;
  position: relative;
  bottom: 29px;
}
.section18 .Survey-shell .awnser-box .question-name {
  font-size: 14px;
  font-weight: 500;
  color: #528fd0;
}
.section18 .Survey-shell .awnser-box .question-date {
  font-size: 10px;
}
.section18 .Survey-shell .awnser-box .question-text {
  font-size: 12px;
  font-weight: 500;
  display: inline-block;
  padding: 10px 50px;
  text-align: justify;
}

.section19 {
  position: relative;
  height: 660px;
  width: 100%;
  background-color: #1a202a;
}
.section19 .contact-us-shell {
  position: relative;
  top: 40px;
  padding: 30px;
}
.section19 .contact-us-shell p {
  text-align: justify;
  color: #a7acb2;
  font-size: 0.9rem;
}
.section19 .contact-us-shell .phone-num-shell .phone-num {
  color: #528fd0;
  font-size: 35px;
  display: inline-block;
}
@media only screen and (max-width: 900px) {
  .section19 .contact-us-shell .phone-num-shell .phone-num {
    display: block;
    text-align: end;
  }
}
.section19 .contact-us-shell .phone-num-shell .phone-num-line {
  height: 25px;
  width: 1px;
  margin: 0 16px;
  border: 1px solid #a7acb2;
  display: inline-block;
}
@media only screen and (max-width: 900px) {
  .section19 .contact-us-shell .phone-num-shell .phone-num-line {
    display: none;
  }
}
.section19 .ps-footer {
  position: absolute;
  left: 10%;
  bottom: 10%;
}
.section19 .ps-footer .ps-link {
  color: #a7acb2;
  font-size: 9px;
}
.section19 .ps-footer .ps-line {
  height: 10px;
  display: inline-block;
  border: 1px solid #a7acb2;
  margin: 0 5px;
}
.section19 .ps-footer p {
  color: #a7acb2;
  font-size: 9px;
}
.section19 .contact-us-img {
  position: absolute;
  right: 11%;
  width: 35%;
  top: 17%;
}
@media only screen and (max-width: 900px) {
  .section19 .contact-us-img {
    right: 4%;
    width: 50%;
    top: -7%;
  }
}

footer {
  position: fixed;
  z-index: 999;
  bottom: 100px;
  right: 5%;
  width: 100%;
  height: 0;
}
footer .col {
  height: 0;
}
footer .mouse-box {
  position: relative;
  z-index: 10;
  right: 45%;
  height: 0;
}
footer .mouse-box .mouse-cabl {
  height: 24px;
  width: 1px;
  margin-right: 12px;
  margin-top: 5px;
  border-left: 1px solid #465262;
}
footer .social-media-box {
  list-style: none;
  display: inline-flex;
  padding: 0;
  position: relative;
  bottom: -50px;
}
footer .social-media-box .social-item {
  padding-left: 15px;
}
footer .social-media-box .social-item .social-link {
  text-decoration: none;
  color: #465262;
}
footer .social-media-box .social-item .social-link .fa {
  font-size: 22px;
}

footer {
  position: fixed;
  z-index: 999;
  bottom: 100px;
  right: 5%;
  width: 100%;
  height: 0;
}
footer .col {
  height: 0;
}
footer .mouse-box {
  position: relative;
  z-index: 10;
  right: 45%;
  height: 0;
}
footer .mouse-box .mouse-cabl {
  height: 24px;
  width: 1px;
  margin-right: 12px;
  margin-top: 5px;
  border-left: 1px solid #465262;
}
footer .social-media-box {
  list-style: none;
  display: inline-flex;
  padding: 0;
  position: relative;
  bottom: -50px;
}
footer .social-media-box .social-item {
  padding-left: 15px;
}
footer .social-media-box .social-item .social-link {
  text-decoration: none;
  color: #465262;
}
footer .social-media-box .social-item .social-link .fa {
  font-size: 22px;
}
footer .social-media-box .social-item .social-link:hover .fa {
  color: #528fd0;
}

.weblog-page .section20 {
  height: 400px;
  background-color: #1a202a;
  width: 100%;
}
.weblog-page .section20 .weblog-img {
  position: absolute;
  width: 45%;
  top: 20%;
}
@media only screen and (max-width: 900px) {
  .weblog-page .section20 .weblog-img {
    width: 86%;
    top: 23%;
  }
}
.weblog-page .weblog-detaile-section-01 {
  height: 600px;
}
@media only screen and (max-width: 900px) {
  .weblog-page .weblog-detaile-section-01 {
    height: 1116px;
  }
}
.weblog-page .weblog-detaile-section-01 .weblog-img {
  position: absolute;
  width: 45%;
  top: 20%;
}
@media only screen and (max-width: 900px) {
  .weblog-page .weblog-detaile-section-01 .weblog-img {
    width: 86%;
    top: 13%;
  }
}
.weblog-page .weblog-detaile-section-01 .paraf-shell {
  position: relative;
  top: 269px;
  left: 46px;
}
@media only screen and (max-width: 900px) {
  .weblog-page .weblog-detaile-section-01 .paraf-shell {
    top: 370px;
    left: 0px;
    padding: 0 30px;
  }
}
.weblog-page .weblog-detaile-section-01 .paraf-shell p {
  text-align: justify;
  color: #a7acb2;
  font-size: 16px;
}
.weblog-page .weblog-detaile-section-01 .arrow-down-box {
  position: absolute;
  z-index: 1;
  top: 600px;
  left: 20%;
  color: #a7acb2;
  font-size: 12px;
}
@media only screen and (max-width: 900px) {
  .weblog-page .weblog-detaile-section-01 .arrow-down-box {
    top: 1030px;
    left: 20%;
    color: #8791a4;
    font-size: 12px;
  }
}
.weblog-page .weblog-detaile-section-04 {
  height: 100% !important;
}
.weblog-page .weblog-detaile-paraf {
  font-weight: 500;
  font-size: 16px;
  text-align: justify;
  margin-bottom: 50px;
}
.weblog-page .weblog-detaile-section-03 {
  position: relative;
  height: 100%;
}
.weblog-page .weblog-detaile-section-03 .title-shell {
  position: absolute;
  top: -4%;
  right: 18%;
}
.weblog-page .weblog-detaile-section-03 .title-shell .six-line {
  width: 140px;
}
.weblog-page .weblog-detaile-section-03 .title-shell .title-fa {
  color: #a7acb2;
  font-weight: 700;
  font-size: 20px;
}
.weblog-page .weblog-detaile-section-03 .title-shell .title-en {
  color: #a7acb2;
}
.weblog-page .work-sample-detaile-section-01 {
  height: 340px;
}
@media only screen and (max-width: 900px) {
  .weblog-page .work-sample-detaile-section-01 {
    height: 300px;
  }
}
.weblog-page .work-sample-detaile-section-01 .savadimo-detaile-img {
  position: relative;
  width: 125%;
  top: 126px;
  z-index: 1;
  right: 10%;
}
@media only screen and (max-width: 900px) {
  .weblog-page .work-sample-detaile-section-01 .savadimo-detaile-img {
    width: 85%;
  }
}
.weblog-page .company-details {
  background-image: url(/Assets/images/svg-blur.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  background-position-x: left;
}
@media only screen and (max-width: 900px) {
  .weblog-page .company-details {
    background-size: 129%;
    background-position-x: center;
    background-position-y: top;
    /* background-position: inherit; */
    background-attachment: scroll;
  }
}
.weblog-page .company-details .company-site-img {
  border: 2px solid rgba(0, 0, 0, 0.4392156863);
  padding: 15px;
  border-radius: 4rem;
  margin: 5px;
  width: 80%;
}
.weblog-page .company-details .company-details-text-shell {
  padding: 0 30px 120px 30px;
}
@media only screen and (max-width: 900px) {
  .weblog-page .company-details .company-details-text-shell {
    padding: 0 30px 50px 30px;
  }
}
.weblog-page .company-details .company-details-text-shell h3 {
  color: black;
}
.weblog-page .company-details .company-details-text-shell p {
  text-align: justify;
  font-size: 1.2rem;
}
.weblog-page .company-details .company-details-icon-shell {
  padding: 10px 30px;
}
.weblog-page .company-details .company-details-icon-shell h3 {
  color: black;
}
.weblog-page .company-details .company-details-icon-shell .features-shell {
  position: relative;
  top: 30px;
  padding-bottom: 120px;
}
@media only screen and (max-width: 900px) {
  .weblog-page .company-details .company-details-icon-shell .features-shell {
    padding-bottom: 50px;
  }
}
.weblog-page .company-details .company-details-icon-shell .features-shell .features-item {
  padding: 20px;
  text-align: start;
}
.weblog-page .company-details .company-details-icon-shell .features-shell .features-item img {
  width: 40px;
  margin-bottom: 10px;
}
.weblog-page .company-details .company-details-icon-shell .features-shell .features-item h5 {
  color: #528fd0;
  font-weight: 300;
}
.weblog-page .company-details .company-details-icon-shell .features-shell .features-item h6 {
  color: #a7acb2;
  font-size: 0.9rem;
}
.weblog-page .company-details .company-details-link-shell {
  padding: 10px 30px;
}
@media only screen and (max-width: 900px) {
  .weblog-page .company-details .company-details-link-shell {
    padding-bottom: 80px;
  }
}
.weblog-page .company-details .company-details-link-shell h3 {
  color: black;
}
.weblog-page .company-details .company-details-link-shell p {
  color: #528fd0;
}
.weblog-page .section21 {
  width: 100%;
  height: 100%;
  background-color: #e5e6e8;
}
.weblog-page .section21 .weblog-list {
  z-index: 1000000;
  position: relative;
  margin: auto;
  margin-left: 60px;
  list-style: none;
  display: table;
  margin-top: 70px;
}
@media only screen and (max-width: 900px) {
  .weblog-page .section21 .weblog-list {
    margin-left: 0px;
  }
}
.weblog-page .section21 .weblog-list .weblog-list-item {
  display: inline;
  padding: 5px;
}
@media only screen and (max-width: 900px) {
  .weblog-page .section21 .weblog-list .weblog-list-item {
    font-size: 10px;
  }
}
.weblog-page .section21 .weblog-list .weblog-list-item .weblog-list-link {
  color: #a7acb2;
  font-weight: 500;
  display: inline;
}
.weblog-page .section21 .weblog-list .weblog-list-item .weblog-list-link:hover {
  color: #528fd0;
  border-bottom: 1px solid #528fd0;
}
.weblog-page .section21 .card-sampel {
  box-shadow: none;
}
.weblog-page .section21 .card {
  background: none;
  border: none;
  width: 90%;
  margin: auto;
  margin-top: 15%;
  border-radius: 40px;
  margin-bottom: 12px;
  padding: 10px;
}
.weblog-page .section21 .card .weblog-card-img {
  width: 100%;
  border-radius: 40px;
  overflow: hidden;
}
.weblog-page .section21 .card .card-body {
  padding: 10px;
}
.weblog-page .section21 .card .card-body .card-title {
  font-size: 16px;
  margin: 11px 0;
}
.weblog-page .section21 .card .card-body .weblog-date {
  font-size: 14px;
  color: #528fd0;
  padding: 8px;
  font-weight: 600;
}
.weblog-page .section21 .card .card-body .card-text {
  font-size: 16px;
  text-align: justify;
}
.weblog-page .section21 .card .card-body .btn-primary {
  box-shadow: none;
  background: none;
  border: none;
  margin-left: 0;
  display: grid;
  justify-content: end;
}
.weblog-page .section21 .card .card-body .btn-primary img {
  width: 60px;
}
.weblog-page .section19 {
  position: relative;
  height: 660px;
  width: 100%;
}
.weblog-page .section19 .contact-us-shell {
  position: relative;
  top: 40px;
  padding: 30px;
}
.weblog-page .section19 .contact-us-shell p {
  text-align: justify;
  color: #a7acb2;
  font-size: 0.9rem;
}
.weblog-page .section19 .contact-us-shell .phone-num-shell .phone-num {
  color: #528fd0;
  font-size: 35px;
  display: inline-block;
}
@media only screen and (max-width: 900px) {
  .weblog-page .section19 .contact-us-shell .phone-num-shell .phone-num {
    display: block;
    text-align: end;
  }
}
.weblog-page .section19 .contact-us-shell .phone-num-shell .phone-num-line {
  height: 25px;
  width: 1px;
  margin: 0 16px;
  border: 1px solid #a7acb2;
  display: inline-block;
}
@media only screen and (max-width: 900px) {
  .weblog-page .section19 .contact-us-shell .phone-num-shell .phone-num-line {
    display: none;
  }
}
.weblog-page .section19 .ps-footer {
  position: absolute;
  left: 10%;
  bottom: 10%;
}
.weblog-page .section19 .ps-footer .ps-link {
  color: #a7acb2;
  font-size: 9px;
}
.weblog-page .section19 .ps-footer .ps-line {
  height: 10px;
  display: inline-block;
  border: 1px solid #a7acb2;
  margin: 0 5px;
}
.weblog-page .section19 .ps-footer p {
  color: #a7acb2;
  font-size: 9px;
}
.weblog-page .section19 .contact-us-img {
  position: absolute;
  right: 11%;
  width: 35%;
  top: 17%;
}
@media only screen and (max-width: 900px) {
  .weblog-page .section19 .contact-us-img {
    right: 4%;
    width: 50%;
    top: -7%;
  }
}
.weblog-page .card-shell-sample {
  text-align: center;
  transition: all 0.5s;
}
.weblog-page .card-shell-sample .sampel-img-sample {
  width: 100%;
  padding: 7px;
  border: 1px solid #a9a9a9;
  border-radius: 45px;
  overflow: hidden;
}
.weblog-page .card-shell-sample:hover {
  filter: drop-shadow(2px 4px 6px black);
  opacity: 1;
}

.contact-us-page {
  padding-top: 10%;
}
.contact-us-page .dis-paraf {
  color: #a7acb2;
}
.contact-us-page .contact-us-form {
  padding-right: 10%;
}
.contact-us-page .contact-us-form .six-line-box {
  padding: 0;
  text-align: start;
}
.contact-us-page .contact-us-form .six-line-box .six-line {
  width: 80px;
}
.contact-us-page .contact-us-form .six-line-box .title-shell {
  display: inline-grid;
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
  align-content: stretch;
}
.contact-us-page .contact-us-form h5 {
  color: #a7acb2;
  margin-top: 15px;
  font-weight: 300;
}
.contact-us-page .contact-us-form h6 {
  color: #465262;
}
.contact-us-page .contact-us-form form .input-box label {
  color: #a7acb2;
  font-size: 12px;
  display: block;
  margin-right: 10px;
}
.contact-us-page .contact-us-form form .input-box textarea {
  display: block;
  background: none;
  border: 1px solid #528fd0;
  border-radius: 10px;
  color: #a7acb2;
  width: 80%;
  padding: 5px 10px;
  margin: 5px 0;
  font-size: 12px;
  height: 100px;
}
.contact-us-page .contact-us-form form .input-box input {
  display: block;
  background: none;
  border: 1px solid #528fd0;
  border-radius: 10px;
  color: #a7acb2;
  width: 80%;
  padding: 5px 10px;
  margin: 5px 0;
  font-size: 12px;
}
.contact-us-page .contact-us-form form .input-box ::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(135, 145, 164, 0.4784313725);
  opacity: 1;
  /* Firefox */
}
.contact-us-page .contact-us-form form .input-box ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(135, 145, 164, 0.4784313725);
  opacity: 1;
  /* Firefox */
}
.contact-us-page .contact-us-form form .input-box :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(135, 145, 164, 0.4784313725);
}
.contact-us-page .contact-us-form form .input-box ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(135, 145, 164, 0.4784313725);
}
.contact-us-page .btn-primary {
  background: none;
  border: none;
  display: grid;
  margin: 0 60%;
}
.contact-us-page .btn-primary .send-btn-icon {
  width: 60px;
}
.contact-us-page .btn-primary:hover {
  background: none;
  border: none;
}
.contact-us-page .address-box {
  position: relative;
  top: -40px;
  padding: 30px;
}
.contact-us-page .address-box p {
  text-align: justify;
  color: #a7acb2;
  font-size: 14px;
}
.contact-us-page .phone-num-shell .phone-num {
  color: white;
  font-size: 40px;
  display: inline-block;
}
@media only screen and (max-width: 900px) {
  .contact-us-page .phone-num-shell .phone-num {
    display: block;
    text-align: end;
  }
}
.contact-us-page .phone-num-shell .phone-num-line {
  height: 25px;
  width: 1px;
  margin: 0 16px;
  border: 1px solid #a7acb2;
  display: inline-block;
}
@media only screen and (max-width: 900px) {
  .contact-us-page .phone-num-shell .phone-num-line {
    display: none;
  }
}
.contact-us-page .consulitin-img-us {
  left: 10%;
  position: absolute;
  width: 35%;
  bottom: 0;
}
@media only screen and (max-width: 900px) {
  .contact-us-page .consulitin-img-us {
    display: none;
  }
}

.about-us-page {
  padding-top: 10%;
}
.about-us-page .About-us-img {
  position: absolute;
  top: 0;
  right: 20%;
  width: 30%;
}
@media only screen and (max-width: 900px) {
  .about-us-page .About-us-img {
    right: -5%;
    width: 80%;
  }
}
.about-us-page p {
  text-align: justify;
  color: #a7acb2;
  padding: 0 100px 0 30px;
  font-size: 14px;
}
@media only screen and (max-width: 900px) {
  .about-us-page p {
    padding: 30px 30px 0 30px;
  }
}
.about-us-page .about-us-img02 {
  width: 90%;
  padding: 7px;
  border: 1px solid #a7acb2;
  border-radius: 45px;
  overflow: hidden;
}
@media only screen and (max-width: 900px) {
  .about-us-page .about-us-img02 {
    width: 100%;
  }
}

.our-tim-page {
  width: 70%;
}
.our-tim-page .Our-team-img {
  position: absolute;
  top: 0;
  width: 40%;
  right: 10%;
}
@media only screen and (max-width: 900px) {
  .our-tim-page .Our-team-img {
    width: 100%;
    right: -20%;
  }
}
.our-tim-page .pro-shell {
  text-align: end;
  color: #a9a9a9;
}
@media only screen and (max-width: 900px) {
  .our-tim-page .pro-shell {
    width: 100%;
    margin-top: 70px;
  }
}
.our-tim-page .pro-shell .card-pro {
  margin-bottom: 30px;
}
.our-tim-page .pro-shell .card-pro .card-body-pro {
  display: inline-block;
  position: relative;
  top: 20px;
  left: 18px;
}
.our-tim-page .pro-shell .card-pro .card-body-pro .card-head-pro {
  color: rgba(47, 60, 211, 0.99);
  font-size: 0.9rem;
}
.our-tim-page .pro-shell .card-pro .card-body-pro .card-title-pro {
  color: #528fd0;
}
.our-tim-page .pro-shell .card-pro .card-body-pro .card-text-pro {
  color: #a7acb2;
}
.our-tim-page .pro-shell .card-pro .tim-pro-pic-pro {
  display: inline-block;
  width: 30%;
  padding: 5px;
  border: 1px solid #a9a9a9;
  border-radius: 40px;
  overflow: hidden;
}
@media only screen and (max-width: 900px) {
  .our-tim-page .pro-shell .card-pro .tim-pro-pic-pro {
    width: 40%;
    border-radius: 30px;
  }
}
.our-tim-page .pro-shell .card-pro .card-body {
  display: inline-block;
  position: relative;
  top: 8px;
  left: 8px;
}
@media only screen and (max-width: 900px) {
  .our-tim-page .pro-shell .card-pro .card-body {
    top: -4px;
    left: 0px;
    text-align: center;
  }
}
.our-tim-page .pro-shell .card-pro .card-body .card-head {
  color: rgba(47, 60, 211, 0.99);
  font-size: 0.9rem;
}
.our-tim-page .pro-shell .card-pro .card-body .card-title {
  color: #a7acb2;
  font-size: 12px;
}
.our-tim-page .pro-shell .card-pro .card-body .card-text {
  color: #528fd0;
  font-size: 10px;
}
.our-tim-page .pro-shell .card-pro .tim-pro-pic {
  display: inline-block;
  width: 40%;
  padding: 4px;
  border: 1px solid #a9a9a9;
  border-radius: 18px;
  overflow: hidden;
}
@media only screen and (max-width: 900px) {
  .our-tim-page .pro-shell .card-pro .tim-pro-pic {
    width: 80%;
  }
}

.consulting-us-page {
  padding-top: 8%;
}
.consulting-us-page .dis-paraf {
  color: #a7acb2;
  font-size: 12px;
  text-align: justify;
  margin: 0;
}
@media only screen and (max-width: 900px) {
  .consulting-us-page .dis-paraf {
    padding-left: 30px;
  }
}
.consulting-us-page .contact-us-form {
  padding-right: 10%;
}
.consulting-us-page .contact-us-form .six-line-box {
  padding: 0;
  text-align: start;
}
.consulting-us-page .contact-us-form .six-line-box .six-line {
  width: 80px;
}
.consulting-us-page .contact-us-form .six-line-box .title-shell {
  margin-bottom: 20px;
  display: inline-grid;
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
  align-content: stretch;
}
.consulting-us-page .contact-us-form h5 {
  color: #a7acb2;
  margin-top: 15px;
  font-weight: 300;
}
.consulting-us-page .contact-us-form h6 {
  color: #465262;
}
.consulting-us-page .contact-us-form form {
  margin-top: 20px;
}
.consulting-us-page .contact-us-form form .row {
  width: 86%;
}
.consulting-us-page .contact-us-form form .input-box label {
  color: #a7acb2;
  font-size: 12px;
  display: block;
  margin-right: 10px;
}
.consulting-us-page .contact-us-form form .input-box textarea {
  display: block;
  background: none;
  border: 1px solid #528fd0;
  border-radius: 10px;
  color: #a7acb2;
  width: 82%;
  padding: 5px 10px;
  margin: 5px 0;
  font-size: 12px;
  height: 100px;
}
.consulting-us-page .contact-us-form form .input-box input {
  display: block;
  background: none;
  border: 1px solid #528fd0;
  border-radius: 10px;
  color: #a7acb2;
  width: 95%;
  padding: 5px 10px;
  margin: 5px 0;
  font-size: 12px;
}
.consulting-us-page .contact-us-form form .input-box ::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(135, 145, 164, 0.4784313725);
  opacity: 1;
  /* Firefox */
}
.consulting-us-page .contact-us-form form .input-box ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(135, 145, 164, 0.4784313725);
  opacity: 1;
  /* Firefox */
}
.consulting-us-page .contact-us-form form .input-box :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(135, 145, 164, 0.4784313725);
}
.consulting-us-page .contact-us-form form .input-box ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(135, 145, 164, 0.4784313725);
}
.consulting-us-page .btn-primary {
  background: none;
  border: none;
  display: grid;
  margin: 0 65%;
}
.consulting-us-page .btn-primary .send-btn-icon {
  width: 60px;
}
.consulting-us-page .btn-primary:hover {
  background: none;
  border: none;
}
.consulting-us-page .consulitin-img-us {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 45%;
}
@media only screen and (max-width: 900px) {
  .consulting-us-page .consulitin-img-us {
    width: 85%;
  }
}

.weblog-detaile-page .weblog-detaile-img {
  position: absolute;
  width: 35%;
  top: 13%;
}/*# sourceMappingURL=style.css.map */